body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    color: #1adb44; /* Цвет основного текста */ 
    background-color:#D6FF6B;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 32px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    background-color: aqua;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius:20px;
    padding: 5px;
    
}
p {
    color: #00a800; /* Цвет заголовка */
    font-size: 48px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    background-color: aqua;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius:  20px;
    padding: 2px;

}

a {
    position: 400px 100px 400px 200px;
    text-decoration: none;
    background-color: rgb(14, 204, 141);
    border-radius:  20px;
    padding: 2px;
    animation: helicopter 1s infinite;
}
h1 {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  5%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}
